body {
    font-family: arial, serif;
    margin: 0px;
}

#create,
#manage {
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #4b556b;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#create:hover,
#manage:hover {
    background-color: #6b7280;
    color: #fff;
}

#logout {
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: #b32104;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logout:hover {
    background-color: #ec2700;
    color: #fff;
}

.top {
    display: flex;
    justify-content: space-evenly;
}

table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin-top: 20px;
}

.table-header {
    background-color: #a0bf39;
}

tr {
    color: #4b556b;
    border-style: solid;
    border-color: #4b556b;
    transition: background-color 0.3s ease;
}

td {
    padding: 10px;
}

th {
    padding: 15px;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

tbody tr:hover {
    background-color: #e8e8e8;
}

.footer-text {
    text-align: center;
    font-size: larger;
    padding: 20px;
}

#delete {
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: #ed0e2c;
    transition: background-color 0.3s ease;
}

#edit {
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: #f5a142;
    transition: background-color 0.3s ease;
}

#edit:hover {
    background-color: #f7ae5c;
}

#delete:hover {
    background-color: #fc4760;
}

th {
    text-align: left;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style: solid;
    border-color: #4b556b;
    border-width: 2px;
    height: 50px;
}

nav div {
    margin: 0px 40px;
}

input[type="text"] {
    margin: 20px 0px;
    display: inline-block;
    text-decoration: none;
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border-color: #4b556b;
    border-width: 2px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.pagination a {
    color: #4b556b;
    padding: 10px 15px;
    text-decoration: none;
    border: 2px solid #4b556b;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #4b556b;
    color: white;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination a.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
    border-color: #dee2e6;
}

.pagination a:first-child {
    margin-left: 0;
}

.pagination a:last-child {
    margin-right: 0;
}

.pagination form {
    display: inline-block;
}

.pagination select {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #4b556b;
    color: #4b556b;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;
}

.footer p {
    color: #4b556b;
}