body {
    font-family: arial, serif;
}

.top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}

h1 {
    margin-top: 70px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="submit"],
a[href="index.php"],
select,
textarea {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"],
a[href="index.php"] {
    background-color: #4b556b;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
a[href="index.php"]:hover {
    background-color: #6b7280;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.footer-text {
    text-align: center;
    font-size: larger;
    padding: 20px;
}

a[href="index.php"] {
    text-align: center;
    font-size: small;
}